body{
    font-family: "Sen", sans-serif;
    
}

:root {
 
    --primary-color: #00B04D;
}
.content{
    margin: auto;
    max-width: 80%;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
    
}
.inputbox {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 40px;
    
}

.inputbox label {
    position: relative;
    top:0;
    
}

.inputbox input {
    border: solid 1px #000;
    border-radius: 10px;
    height: 70px;
    
}

.inputbox input:focus,
.inputbox input:valid {
    height: 100%;
}

.inputbox input:focus + label,
.inputbox input:valid + label {
    top: -40px;
    left: 0;
}
#button{
    width: 100%;
}

#button button {
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    border:none;
    outline: none;
    cursor: pointer;
    background-color: #B00037;
    font-size: 20px;
    font-family: "Sen", sans-serif;
    color: #fff;
    text-align: center;
    border-radius: 8px;

}
#button a{
    text-decoration: none;
}
#button button:hover{
    transition: .5s;
    background-color: #00B04D;
}

@media screen and (max-width: 500px) {
    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 40px;
        padding: 40px;
    }
}