.square-content{
    max-width: 90%;
    margin: auto;
    margin-top: 15vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.square{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    text-align: center;
    border: 1px solid #000;
}
@media (max-width: 999px){
    .square-content{
        max-width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }
    .square{
        padding: 50px;
        text-align: center;
        border:none;
        border-bottom: 1px solid ;

    }
}