.container{

    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px #000;
    border-radius: 40px;
    margin-top: 10vh;
}
.next{
    
    width: 80%;
    margin: auto;
    margin-top: 10vh;

}

.next button{
    display: block;
    margin: auto;
    width: 200px;
    height: 83px;
    border-radius: 10px;
    border-style: none;
    background-color: #B00037;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    padding: 20px;
}

.next button :hover{
    transition: 0.5s;
    background-color: #6E0022;
}
  .component {
    position: relative;
    width: 30%;
    margin: 5rem auto;
    padding: 1rem;
  
    box-shadow: 2px 2px 10px #454545;
    background-color: #FFFFFF;
    
    text-align: center;
  }
  

  .component .credit-card form {
    display:flex;
    flex-direction: column;
  }
  
  .component .credit-card .line {
    display: flex;
  }
  
  .component .credit-card .line input {
    width: 20%; /* on définit une taille plus petite qu'il le faut, le flex-grow fera le reste */
    flex: 1;
    margin: 0.4rem 0.3rem;
  }
  
  input {
      border: none;
      border-bottom: 1px solid rgba(0,0,0,.12);
      margin: 1rem 0;
      padding: 4px;
      font-size: 1rem;
      outline: none;
  }
  
  input::-webkit-input-placeholder {
      color: #AAAAAA;
  }
  

  .total {
    position: absolute;
    top: 3em;
    left: -8em;
    z-index: -1;
    
    background: #002F2F;
    color: #A7A37E;
    
    width: 125px;
    transform: rotate(-35deg);
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    padding-right: 2rem;
    
    box-shadow: 1px 1px 5px black;
  }
  
  .total p {
    font-size: 1.5rem;
  }


  @media screen and (max-width:800px) {
    .image{
        display: none;
    }
    .container{
        border: none;
    }
  }
